<div class="task__container">
    <div class="task__card">
        <h2 class="task__title" (click)="editTask(item.id!)" *ngIf="item.id !== id; else tempEdit">{{ item.title }}</h2>

        <ng-template #tempEdit>
            <div class="task__edit">
                <input [formControl]="control" [ngStyle]="{'margin-right': '20px'}" type="text">
                <button (click)="save()">Сохранить</button>
            </div>
        </ng-template>

        <div class="task__actions">
            <input type="checkbox" (change)="completeTask($event)">
            <button class="task__btn" (click)="deleteTask()">Delete</button>
        </div>
    </div>
</div>